<?php

return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'doctrine_type_mappings' => array('enum' => 'string'),
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'host' => '172.30.188.155',
                    'port' => '3306',
                    'user'     => 'mysql',
                    'password' => 'mysql',
                    'dbname' => 'phpzf2',
                    'driverOptions' => array(
                        1002 => 'SET NAMES utf8'
                    )
                )
            ),
        ),
        'migrations' => array(
            'migrations_table' => 'migrations',
            'migrations_namespace' => 'application',
            'migrations_directory' => __DIR__ . '/../../data/DoctrineORMModule/migrations',
        ),
    ),
);
